@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
* {
  font-family: 'Rock Salt', cursive;
}

.bg-wrap {
  width: 100%;
  height: 100vh;
  background: url('./../../images/xmmvaanqa2i-christos-barbalis.jpg');
  background-size: cover;
  overflow: hidden;
}
.input-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.input-wrap input {
  width: 350px;
  border: none;
  border: 2px solid;
  font-size: 30px;
  border-radius: 5px;
  padding-left: 10px;
  margin-top: 50px;
}
.chat-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.chat-wrap button {
  width: 120px;
  height: 30px;
  font-size: 10px;
  margin-right: 10px;
  border: 2px solid;
  border-radius: 5px;
  background: white;
}
.chats {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 50px;
}
.single-chat {
  font-family: 'Rock Salt', cursive;
  background: white;
  border-radius: 10px;
  margin: 20px 0px;
  box-shadow: 0px 0px 10px 15px white;
}
